header {
    grid-area: header;
  }
  
  aside {
    grid-area: aside;
  }
  
  main {
    grid-area: content;
  }
  
  footer {
    grid-area: footer;
  }
  
  body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header header" "aside  content" "footer footer";
    min-height: 100vh;
    margin: 0;
    border: 0;
  }
  
  main .galeria {
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 95px;

  }
  
  main .galeria > div {
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
  }
  
  @media screen and (max-width: 600px) {
    body {
      grid-template-columns: 1fr;
      grid-template-rows: 100px 100px 1fr 100px;
      grid-template-areas: "header" "aside" "content" "footer";
    }
  }

  #img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

 dialog {
    height: 25vh;
    width: 25vw;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    border: 1px solid whitesmoke;
  
  }
